* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    margin: 0;
}

.navbar {
    background: linear-gradient(#e7baff, #b198de);
    padding: 1%;
    border-radius: 5px;
    width: 380px;
    height: 70px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top:0;
    margin-left:35%;
}

.hero {
    width: 100%;
    height: 100%;
    background-color:#222327;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Align items at the top */
    padding: 20px;
}

#drop-area {
    top:100px;
    position: relative;
    right: 35%;
    width: 20%;
    height: 200px;
    padding: 0px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 0px;
}

.logo {
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}
#img-view {
    width: 30%; /* Take full width */
    height: 100%;
    align-content: center;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    border-color: blue;
}



#clear-boxes {
    position: absolute;
    bottom: 130%;
    margin-left: 100px;
    padding: 5px 10px;
    background-color: #ffa34d;
    color: black;
    border: none;
    cursor: pointer;
}
#save{
    position: absolute;
    margin-right:100%;
    left:300%;
    padding: 5px 10px;
    background-color:red;
    color: black;
    border: none;
    cursor: pointer;
}

.image {
    left: 0px;;
    width: 100%; /* Set your desired width */
    height: 100%; /* Set your desired height */
    margin: auto; /* Center the container horizontally */
    position: relative; /* Required for absolute positioning of child elements */
}

.image img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    z-index: 0;
}




.draw {
    position: relative;
    right: 25%;
    bottom: 19%;;
    width: 15%; /* Adjusted width */
    margin-top: 20px; /* Adjusted margin for spacing */
    margin-left: 20px; /* Adjusted margin for spacing */
}

.draw button {
    background-color: rgb(77, 92, 250);
    width: 100%;
    height: 100px;
    bottom:130px;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    color: black;
    z-index: 1;
}
