header{
    background-color: #0016bd;
    color: white;
    margin-top: 0%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border-radius: 6px;
    width: 100%
  
}

.leftsidebar{
    float: left;
    width: 15%;
    min-height: 730px;
    background-color: #0cf4f8;
    color: black;
    text-align: left;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: 500;
    border-radius: 6px;

}

.c1 .logo {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
}
.c1 {
    display: flex;
    align-items: center;
    padding: 2px;
}

.c2 .logo2 {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
}
.c2 {
    display: flex;
    align-items: center;
    padding: 2px;
    margin-top: 15px;
}


.c3 .logo3 {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
  
}
.c3 {
    display: flex;
    align-items: center;
    padding: 2px;
    margin-top: 15px;
}
.c4 .logo4{
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
}

.c4 {
    display: flex;
    align-items: center;
    padding: 2px;
    margin-top: 15px;
}
section{
    float: right;
    width: 85%;
    height: 100%;
    float: right;
    background-color: #bdf677;
    color: black;
    text-align: left;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: 500;
    border-radius: 6px;
}
section.img{  
    float: right;
    
}