* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.c1, .c2, .c3 {
    padding: 0px 20px;
    box-sizing: border-box;
}

.c1 {
    margin-top: 340px;
    margin-left: 160px;
}

.c2 {
    margin-top: 340px;
    margin-left: 280px;
}

.c3 {
    margin-top: 340px;
    margin-left: 400px;
}
